.chart__pie__selection{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 1em;

    & > div{
        flex: 1;
    }

    .date__input{
        margin: 1em;
    }

    @media screen and (max-width: $small){
        flex-direction: column;
        align-items: flex-start;

        .date__input{
            margin: 0;
        }
    
        & > div{
            width: 100%;
        }

    }

}